.height{
    height: 85vh;
}

.background{
    height: 85vh;
    width: 60vh;
}

.backgroundGrey{
    background-image: url(../../../assets/grey.jpg);
}

.centerChat{
    padding-right: 35px;
    padding-left: 35px;
}
