.height{
    height: fit-content;
}

.backgroundGrey{
    background-image: url(../../../assets/grey.jpg);
}

.centerChat{
    padding-right: 35px;
    padding-left: 35px;
}

.toolbarColor{
    background-color: rgb(53, 163, 53);
    color: white;
  }