<div class="container-fluid height">
    <form [formGroup]='formMessageGroup'>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Chat</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p *ngFor='let msg of messages'
                    [className]="msg.from == formMessageGroup.get('from').value ? 'text-right' : 'text-left'">
                    {{msg.from}}: {{msg.body}} <br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label for="name">Nombre: </label>
                <input type="text" name="name" formControlName='from'>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="addMessage">Mensaje: </label>
                <input type="text" name="addMessage" formControlName='body'>
                <button class="btn btn-success" (click)='sendMessage()'>Enviar</button>
            </div>
        </div>
    </form>

</div>