<div class="container-fluid height">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Chat</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>{{idMessageEvent}}</h1>
            <ul>
                <li *ngFor='let msg of (messages | async)'>{{msg.from}}: {{msg.body}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label for="addMessage">Mensaje: </label>
            <input type="text" name="addMessage" [formControl]='messageToSend'>
            <button class="btn btn-success" (click)='sendMessage()'>Enviar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-danger" (click)='viewMessages()'>A ver</button>
        </div>
    </div>
</div>
