.height{
    height: 100%;
}

.backgroundGrey{
    background-image: url(../../../assets/grey.jpg);
}

.centerChat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
    padding-left: 35px;
}

.toolbarColor{
    background-color: rgb(53, 163, 53);
    color: white;
  }

  .chat{
      overflow-y: scroll;
      height: 90%;
      margin: 35px;
      width: 70%;
  }

  .chat::-webkit-scrollbar {
      width: 7px;
  }

  .chat::-webkit-scrollbar-thumb{
      background: green;
  }
  