<app-toolbar (toggle)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side" class="aside">

        <mat-toolbar class="toolbarColor">
            <mat-toolbar-row>
                <h2> Canales </h2>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <app-channel></app-channel>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <app-chat></app-chat>
    </mat-sidenav-content>

</mat-sidenav-container>